@import "tailwindcss";

@theme {
  --color-primary-light: #818cf8;
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
}

body {
  @apply antialiased text-slate-800 bg-slate-50;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
